In [165]:
import pandas as pd
df=pd.read_csv("netflix_reviews_raw.csv")
df.head()

,reviewId,userName,content,score,thumbsUpCount,reviewCreatedVersion,at,appVersion
0,fbaf030c-48e3-4eae-994c-cbd576894acb,Dharmendra Saxena,easy to use,5,0,9.43.2 build 11 63680,2025-11-30 10:59:19,9.43.2 build 11 63680
1,4a10594f-8666-4c6c-ab22-078814666c32,Vicky Anand,in s25 ultra brightness is reducing automatica...,1,0,8.40.0 build 4 50271,2025-11-30 10:35:34,8.40.0 build 4 50271
2,b478ae5b-2a07-40ba-99b8-8b3a4a966807,Gurdeep singh,ðŸ™‚,4,0,9.43.2 build 11 63680,2025-11-30 10:30:06,9.43.2 build 11 63680
3,f07d9666-f6fe-498f-a6d6-cc1cfa5bbf00,Piyush Sharma,thank you netflix for stranger things,5,0,NaN,2025-11-30 10:25:49,NaN
4,c95507f0-dc5e-4e88-99ee-b1aaaed8cdac,NaruKashi gaming,is just me or Netflix is falling apart. nothin...,3,0,8.86.0 build 6 50506,2025-11-30 10:25:00,8.86.0 build 6 50506

In [166]:
df.shape

(143157, 8)

In [167]:
df.columns

Index(['reviewId', 'userName', 'content', 'score', 'thumbsUpCount',
       'reviewCreatedVersion', 'at', 'appVersion'],
      dtype='object')

In [168]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 143157 entries, 0 to 143156
Data columns (total 8 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   reviewId              143157 non-null  object
 1   userName              143155 non-null  object
 2   content               143151 non-null  object
 3   score                 143157 non-null  int64
 4   thumbsUpCount         143157 non-null  int64
 5   reviewCreatedVersion  118264 non-null  object
 6   at                    143157 non-null  object
 7   appVersion            118264 non-null  object
dtypes: int64(2), object(6)
memory usage: 8.7+ MB

In [169]:
df.describe(include="all")

,reviewId,userName,content,score,thumbsUpCount,reviewCreatedVersion,at,appVersion
count,143157,143155,143151,143157.000000,143157.000000,118264,143157,118264
unique,141768,107285,136192,NaN,NaN,679,142784,679
top,ef9bf390-40f4-4c18-8726-fa2246c83a36,A Google user,Good,NaN,NaN,8.141.1 build 13 51230,2024-05-17 08:32:40,8.141.1 build 13 51230
freq,24,30272,1091,NaN,NaN,2464,3,2464
mean,NaN,NaN,NaN,2.866154,8.507631,NaN,NaN,NaN
std,NaN,NaN,NaN,1.731939,91.273033,NaN,NaN,NaN
min,NaN,NaN,NaN,1.000000,0.000000,NaN,NaN,NaN
25%,NaN,NaN,NaN,1.000000,0.000000,NaN,NaN,NaN
50%,NaN,NaN,NaN,3.000000,0.000000,NaN,NaN,NaN
75%,NaN,NaN,NaN,5.000000,1.000000,NaN,NaN,NaN
max,NaN,NaN,NaN,5.000000,8032.000000,NaN,NaN,NaN

In [170]:
df.sample(5)

,reviewId,userName,content,score,thumbsUpCount,reviewCreatedVersion,at,appVersion
94248,532ff487-92b4-4b1c-9df8-0bcd7446e953,A Google user,I like the app but wish it would show up in my...,4,0,7.42.0 build 15 34682,2020-02-04 17:08:14,7.42.0 build 15 34682
72807,01f67f57-3cac-43e9-a2ec-11c248b607dd,soph mcguire,to be fair the app is pretty good by their is ...,5,0,7.116.1 build 7 35568,2021-08-26 15:52:16,7.116.1 build 7 35568
55319,155e7905-2ae8-47ed-91a3-6bb75edda6da,carol webb,"When you can no longer watch a movie, without ...",1,0,NaN,2023-12-15 16:53:36,NaN
96572,1a0cf8fd-b72a-4eb6-9654-5446fb09f964,Jenny Talbert,This is a good app but it says you can get it ...,2,0,1.0,2021-12-19 18:18:47,1.0
141711,db8bcf88-f2ca-4979-a301-eb0f3d390a10,A Google user,Too gud n the best video quality n also easy t...,5,1,7.13.1 build 23 34290,2019-06-14 14:13:57,7.13.1 build 23 34290

In [171]:
df.isna().sum()

reviewId                    0
userName                    2
content                     6
score                       0
thumbsUpCount               0
reviewCreatedVersion    24893
at                          0
appVersion              24893
dtype: int64

In [172]:
df["score"].isna().sum(),df["content"].isna().sum()

(np.int64(0), np.int64(6))

In [173]:
df[df["content"].isna()]

,reviewId,userName,content,score,thumbsUpCount,reviewCreatedVersion,at,appVersion
8916,6b66631b-6bc9-4d7e-adbf-77660acda47c,Cambria,NaN,1,1,9.11.1 build 10 62492,2025-04-20 00:16:34,9.11.1 build 10 62492
19323,5b06f098-6edd-4e7d-8a58-84f9a65f08e8,shenshi pang,NaN,3,0,8.31.1 build 14 50243,2025-01-03 11:50:11,8.31.1 build 14 50243
22955,3363e119-6469-4dd8-b6a2-9fc67c919e87,John Relles,NaN,5,0,8.132.2 build 18 50846,2024-12-02 02:54:46,8.132.2 build 18 50846
24392,49eda233-7487-41e6-8eb4-aeff02a906f0,Hetekia Kingi,NaN,5,0,8.138.1 build 10 50974,2024-11-10 03:49:25,8.138.1 build 10 50974
33473,a73c931f-5cce-4863-b1ae-40101455f137,Maria Wiley,NaN,5,0,8.114.0 build 19 50680,2024-05-21 16:56:29,8.114.0 build 19 50680
33824,839d55ed-ba9e-4753-a178-5799b9f86ffc,Myris Guilanda,NaN,2,0,NaN,2024-05-19 13:52:42,NaN

In [174]:
df[df["content"].isna() | (df["content"].str.strip() == "")]

,reviewId,userName,content,score,thumbsUpCount,reviewCreatedVersion,at,appVersion
8916,6b66631b-6bc9-4d7e-adbf-77660acda47c,Cambria,NaN,1,1,9.11.1 build 10 62492,2025-04-20 00:16:34,9.11.1 build 10 62492
19323,5b06f098-6edd-4e7d-8a58-84f9a65f08e8,shenshi pang,NaN,3,0,8.31.1 build 14 50243,2025-01-03 11:50:11,8.31.1 build 14 50243
22955,3363e119-6469-4dd8-b6a2-9fc67c919e87,John Relles,NaN,5,0,8.132.2 build 18 50846,2024-12-02 02:54:46,8.132.2 build 18 50846
24392,49eda233-7487-41e6-8eb4-aeff02a906f0,Hetekia Kingi,NaN,5,0,8.138.1 build 10 50974,2024-11-10 03:49:25,8.138.1 build 10 50974
33473,a73c931f-5cce-4863-b1ae-40101455f137,Maria Wiley,NaN,5,0,8.114.0 build 19 50680,2024-05-21 16:56:29,8.114.0 build 19 50680
33824,839d55ed-ba9e-4753-a178-5799b9f86ffc,Myris Guilanda,NaN,2,0,NaN,2024-05-19 13:52:42,NaN

In [175]:
df = df.dropna(subset=["content"]).reset_index(drop=True)

In [176]:
df = df.drop_duplicates(subset=["content"]).reset_index(drop=True)

In [177]:
df.shape

(136192, 8)

In [178]:
(df["score"].astype(str).str.strip() == "").sum()

np.int64(0)

In [179]:
import numpy as np

conditions = [
    df["score"] <= 2,   
    df["score"] == 3,   
    df["score"] >= 4    
]

choices = ["negative", "neutral", "positive"]

df["sentiment"] = np.select(conditions, choices,default="unknown")
df[["sentiment","score"]]

       sentiment  score
0       positive      5
1       negative      1
2       positive      4
3       positive      5
4        neutral      3
...          ...    ...
136187  positive      5
136188  positive      5
136189  negative      1
136190  negative      1
136191  positive      4

[136192 rows x 2 columns]

In [180]:
df["sentiment"].value_counts()

sentiment
negative    67700
positive    54889
neutral     13603
Name: count, dtype: int64

In [181]:
df["sentiment"].value_counts(normalize=True) * 100

sentiment
negative    49.709234
positive    40.302661
neutral      9.988105
Name: proportion, dtype: float64

In [182]:
df["reviewCreatedVersion"] = df["reviewCreatedVersion"].fillna("unknown")
df["appVersion"] = df["appVersion"].fillna("unknown")
df["reviewCreatedVersion"].isna().sum(), df["appVersion"].isna().sum()

(np.int64(0), np.int64(0))

In [183]:
df["reviewCreatedVersion"] = df["reviewCreatedVersion"].replace("", "unknown")
df["appVersion"] = df["appVersion"].replace("", "unknown")

In [184]:
import re
import string

def clean_text(text):
    text = text.lower()                                       # lowercase
    text = re.sub(r"http\S+|www\S+", " ", text)               # remove URLs
    text = re.sub(r"\d+", " ", text)                          # remove numbers
    text = text.translate(str.maketrans("", "", string.punctuation))  # remove punctuation
    text = re.sub(r"\s+", " ", text).strip()                  # remove extra spaces
    return text

df["clean_review"] = df["content"].astype(str).apply(clean_text)
df[["content", "clean_review"]].head(10)

,content,clean_review
0,easy to use,easy to use
1,in s25 ultra brightness is reducing automatica...,in s ultra brightness is reducing automaticall...
2,ðŸ™‚,ðŸ™‚
3,thank you netflix for stranger things,thank you netflix for stranger things
4,is just me or Netflix is falling apart. nothin...,is just me or netflix is falling apart nothing...
5,se,se
6,can you please check I updated my payment then...,can you please check i updated my payment then...
7,only see the same recycled stuff based on thei...,only see the same recycled stuff based on thei...
8,fantastic,fantastic
9,bring back Dexter Netflix please I want to wat...,bring back dexter netflix please i want to wat...

In [185]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer

X = df["clean_review"]    
y = df["sentiment"]         

X_train, X_test, y_train, y_test = train_test_split(
    X, y,
    test_size=0.2,          
    random_state=42,        
    stratify=y                         
)

In [186]:
tfidf = TfidfVectorizer(
    max_features=20000,    
    ngram_range=(1,2),     
    stop_words="english"   
)

X_train_tfidf = tfidf.fit_transform(X_train)   
X_test_tfidf = tfidf.transform(X_test)

In [187]:
X_train_tfidf.shape, X_test_tfidf.shape

((108953, 20000), (27239, 20000))

In [188]:
len(tfidf.get_feature_names_out())

20000

In [189]:
tfidf.get_feature_names_out()[:100]

array(['aa', 'aap', 'ab', 'abc', 'abd', 'ability', 'ability cast',
       'ability download', 'ability share', 'ability use',
       'ability watch', 'abit', 'able', 'able access', 'able add',
       'able afford', 'able app', 'able binge', 'able browse',
       'able cast', 'able change', 'able choose', 'able connect',
       'able continue', 'able control', 'able create', 'able delete',
       'able download', 'able enjoy', 'able fix', 'able hear',
       'able help', 'able install', 'able load', 'able log', 'able login',
       'able make', 'able movies', 'able netflix', 'able open',
       'able pay', 'able play', 'able reach', 'able read', 'able remove',
       'able run', 'able search', 'able select', 'able set', 'able share',
       'able sign', 'able start', 'able stream', 'able subscribe',
       'able turn', 'able uninstall', 'able update', 'able use',
       'able video', 'able view', 'able watch', 'abroad', 'abruptly',
       'absence', 'absent', 'absolute', 'absolute best',
       'absolute garbage', 'absolute joke', 'absolute rubbish',
       'absolute trash', 'absolute worst', 'absolutely',
       'absolutely amazing', 'absolutely awful', 'absolutely brilliant',
       'absolutely great', 'absolutely hate', 'absolutely horrible',
       'absolutely love', 'absolutely ridiculous', 'absolutely terrible',
       'absolutely trash', 'absolutely useless', 'absolutly', 'absurd',
       'abt', 'abuse', 'abysmal', 'ac', 'academia', 'academy', 'acc',
       'accent', 'accept', 'accept payment', 'accept rupay', 'acceptable',
       'accepted', 'accepting'], dtype=object)

In [190]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

model = LogisticRegression(max_iter=200, n_jobs=-1,class_weight="balanced")

model.fit(X_train_tfidf, y_train)

y_pred = model.predict(X_test_tfidf)

print("Accuracy:", accuracy_score(y_test, y_pred))
print("\nClassification Report:\n", classification_report(y_test, y_pred))
print("\nConfusion Matrix:\n", confusion_matrix(y_test, y_pred))

Accuracy: 0.7252836007195566

Classification Report:
               precision    recall  f1-score   support

    negative       0.85      0.75      0.80     13540
     neutral       0.23      0.45      0.30      2721
    positive       0.85      0.76      0.80     10978

    accuracy                           0.73     27239
   macro avg       0.64      0.65      0.63     27239
weighted avg       0.79      0.73      0.75     27239


Confusion Matrix:
 [[10161  2480   899]
 [  875  1217   629]
 [  940  1660  8378]]

In [151]:
pip install joblib

Requirement already satisfied: joblib in c:\users\hani patel\anaconda3\lib\site-packages (1.4.2)
Note: you may need to restart the kernel to use updated packages.

In [192]:
import joblib
joblib.dump(tfidf, "tfidf_vectorizer.pkl")

['tfidf_vectorizer.pkl']

In [193]:
joblib.dump(model, "sentiment_model.pkl")

['sentiment_model.pkl']

In [194]:
df["at"] = pd.to_datetime(df["at"], errors="coerce")

In [196]:
df.to_csv("netflix_sentiment_final.csv", index=False)

In [113]:
pip install sqlalchemy pymysql

Requirement already satisfied: sqlalchemy in c:\users\hani patel\anaconda3\lib\site-packages (2.0.39)
Requirement already satisfied: pymysql in c:\users\hani patel\anaconda3\lib\site-packages (1.1.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\hani patel\anaconda3\lib\site-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\hani patel\anaconda3\lib\site-packages (from sqlalchemy) (4.12.2)
Note: you may need to restart the kernel to use updated packages.

In [201]:
import getpass
from sqlalchemy import create_engine
import pandas as pd

csv_path = r"C:\Users\Hani Patel\Downloads\Netlix_Sentiment_Analysis\python\netflix_sentiment_final.csv"  # update your file path

user = "root"         # or your MySQL username
password = getpass.getpass("Enter DB password: ")
database = "netflix_sentiment"    # your database name

engine = create_engine(f"mysql+pymysql://{user}:{password}@localhost/{database}?charset=utf8mb4")

Enter DB password:  Â·Â·Â·Â·Â·Â·Â·Â·

In [202]:
df = pd.read_csv(csv_path, encoding="utf-8")
df.to_sql("netflix_reviews", engine, if_exists="replace", index=False)
print("Upload successful")

Upload successful